.Home .background:before {
  background-image: url('../img/moose-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -20rem;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  height: 20rem;
  content: '';
  display: block;
  left: 0;
  position: absolute;
}

@media (max-width: 1020px) {
  .Home .background:before {
    background-position: initial;
  }
}

.Home .background h1 {
  text-align: center;
  padding-top: 10rem;
  text-decoration-color: #04304D;
}

.Home .container.Home-container, .Home .container-fluid.Home-container {
  margin-top: 10rem;
}

.Home h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'bebas-neue', sans-serif;
  font-style: normal;
}

.Home h3 {
    font-size: 50;
}

.Home h1 {
    font-size: 65;
}

.Home h4 {
    font-size: 35;
}

.Home .intro {
  text-align: center;
  font-style: italic;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.Home .section {
  margin-top: 1rem;
  padding: 2rem;
  cursor: pointer;
}


.Home .section h4 {
  margin-top: 1rem;
}

.Home img.section-link {
  width: 100%;
  height: 10rem;
  text-align: center;
  object-fit: cover;
  border: 1px solid darkgray;
}

.Home p {
    font-family: 'Bebas Neue';
    font-style: italic;
    font-size: 26;
}