a.footer-link {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

body {
  margin-bottom: 2rem;
}

.fill-height {
  height: 100%;
  min-height: 100%;
}
iframe.fill-height {
  position: absolute;
}

p.tight {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'fira-sans', italic;  
}